p {
    text-align: center;
}

html {
    background-color: lightgray;
    padding: 10px;
}

#me {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

#intro-div {
    background-color: lightsteelblue;
    text-align: center;
}

.header-name {
    display: block;
}

footer {
    background-color: lightsteelblue;
    border-radius: 10px;
}

div {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.header {
    text-align: left;
}

.container {
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

}

@media (max-width: 680px) {

    #me {
    border-radius: 50%;
    }

    html {
        background-color: lightsteelblue;
        padding: 10px;
    }

    #intro-div {
        background-color: lightgray;
        text-align: center;
    }
    
    footer {
        background-color: lightgray;
        border-radius: 10px;
    }

    .header {
        text-align: center;
    }

}